.wrapper {
    display:flex;
    flex-direction: row;
    background-color: white;
}
.films-wrapper{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 3rem;
}
.section {
    padding: 1rem;
    margin: 1rem;
}
.film-item{
    margin-bottom:5rem;
    background-color: gray;
    border-style: inset;
    border-radius: 1rem;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 22px;
}