<div class="facts-wrapper">
  <article>
    <section class="a-section">
      <h1>Viggo Mortensen bought 3 horses that were used in the films.</h1>
      This actor has a particular habit of adopting his equine co-stars.
      Mortensen is better known for his role as Aragorn in the film. He also
      bought several of the horses he worked with on the film Hidalgo.
    </section>
    <section class="a-section">
      <h1>
        The son of Tolkien does not like the LotR books that Peter Jackson
        wrote.
      </h1>
      Christopher Tolkien claims that he dislikes the Lord of the Rings trilogy
      due to it lacking the beauty and seriousness the original series had.
      According to Tolkien, this was further butchered by aiming the films to
      older teens and young adults. Christopher hates this version of the series
      so much that he refuses to meet Jackson.
    </section>
    <section class="a-section">
      <h1>
        Sean Bean climbed the mountains of New Zealand daily to get to the set.
      </h1>
      Bean had a phobia which made it difficult for him to ride a helicopter up
      to set. As a result, he was forced to hike up the mountain daily to reach
      the set on the top of the mountain. Sean Bean is known for his portrayal
      of the character Boromir.
    </section>
    <section class="a-section">
      <h1>The LotR movies cost less to make compared to the Hobbit films.</h1>
      It was estimated that the budget needed to make the Hobbit films cost
      twice as much for all three Lord of the Rings films. This is an estimated
      worth of $745 million.
    </section>
    <section class="a-section">
      <h1>Christopher Lee met Tolkien by coincidence.</h1>
      They came across each other in an Oxford bar one night unexpectedly. Lee
      is reportedly the only member of the film set to ever meet with J.R.R.
      Tolkien.
    </section>
    <section class="a-section">
      <h1></h1>
    </section>
    <section class="a-section">
      <h1>The Beatles tried to make their own LotR movie.</h1>
      This version of the film starred all of the original members. However,
      Tolkien wasn’t too keen on the idea, so the movie was quickly put to an
      end.
    </section>
    <section class="a-section">
      <h1>Merry originally had a different name.</h1>
      During the first few drafts of the book, Merry was originally named
      Marmaduke Brandybuck. Later on, Tolkien decided to change his name in the
      final production of the books.
    </section>
    <section class="a-section">
      <h1>Peter Jackson’s LotR movies takes almost half a day to finish.</h1>
      Watching the three films will take you approximately 9-10 hours to
      complete. Each film takes about 3 or 4 hours to complete.
    </section>
    <section class="a-section">
      <h1></h1>
    </section>
  </article>
</div>
