.aside-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aside-wrapper img {
  width: 100%; 
  max-width: 300px; 
  height: auto; 
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .aside-wrapper img {
    max-width: 400px;
    margin: 0 5px 10px;
  }
}

#aside-3,
#aside-2 {
  margin-left: 5rem;
}

#aside-1,
#aside-4 {
  margin-right: 5rem;
}


