.aside-wrapper {
  padding: 15px;
  margin: 15px;
  width: 25%;
  justify-content: center;
}
#aside-1 {
  position: relative;
  padding: 10px;
  right: 0px;
}
#aside-2 {
  position: relative;
  padding: 30px;
  left: 100px;
}
#aside-3 {
  position: relative;
  padding: 20px;
  right: 100px;
}


