<div class="aside-wrapper">
  <img
    src="../../../assets/img/aside-3.webp"
    width="550"
    height="300"
    alt="aside-3"
    id="aside-3"
    [@zoomIn]="imageState"
    (mouseenter)="imageState = 'hovered'" 
    (mouseleave)="imageState = 'normal'"
  />
  <img
    src="../../../assets/img/aside-1.jpg"
    alt="aside-1"
    id="aside-1"
    id="aside-1"
    [@zoomIn]="imageState"
    (mouseenter)="imageState = 'hovered'" 
    (mouseleave)="imageState = 'normal'"
  />
  <img
    src="../../../assets/img/aside-2.webp"
    width="550"
    height="350"
    alt="aside-2"
    id="aside-2"
    [@zoomIn]="imageState"
    (mouseenter)="imageState = 'hovered'" 
    (mouseleave)="imageState = 'normal'"
  />
  <img
    src="../../../assets/img/aside-4.webp"
    alt="aside-4"
    width="550"
    height="350"
    [@zoomIn]="imageState"
    (mouseenter)="imageState = 'hovered'" 
    (mouseleave)="imageState = 'normal'"
  />
</div>
