.nav-btn{
    padding:1rem;
    margin: 1rem;
    border-style: inset;
    border-radius: 1rem;
    background-color: rgb(63, 62, 62);
    color: gold;
    font-style: oblique;
    font-weight: bold;
  }
  .nav-btn:hover {
    background-color: rgb(212, 209, 209);
    
  }