<app-navbar></app-navbar>
<div class="books-wrapper">
  <div class="img">
    <img class="img1" src="../../../assets/img/LOTR12.jpg" alt="img1">
    <img class="img2" src="../../../assets/img/27cf91f605923223613909c7b9d2219f.jpg" alt="img2">
  </div>
  <div class="article-books">
    <ng-container *ngFor="let book of books">
      <article class="book">
        <p><strong>Name: </strong>{{ book.title }}</p>
        <p><strong>Author: </strong>{{ book.author }}</p>
        <p><strong>Publication date: </strong>{{ book.publication_date }}</p>
      </article>
    </ng-container>
  </div>
</div>
<app-footer></app-footer>
