.footer-wrapper {
  display: flex;
  justify-content: center; /* Arrange elements at each end of the container */
  align-items: center; /* Center vertically */
  border: none;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin-top: auto;
}

.centered-content {
  display: flex;
  flex-direction: column; /* Align elements vertically */
  align-items: center; /* Center horizontally */
}

.image-wrapper {
  margin-bottom: 10px;
}

.page-footer {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: oblique;
  font-size: 1.5rem;
  text-align: center;
  color: antiquewhite;
  padding-bottom: 20px;
}

.audio-player {
  background-position-x: right; /* Move the audio player to the left */
}


