.row.mt-5 {
  margin: 15rem; /* Default margin */
}

.btn-outline-success {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffc107;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000;
  --bs-btn-hover-border-color: #000;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000;
  --bs-btn-disabled-border-color: #000;
  margin-bottom: 10px; /* Default margin bottom */
}

@media (max-width: 768px) {
  .row.mt-5 {
    margin: 10rem; /* Adjusted margin for smaller screens */
  }
}

@media (max-width: 576px) {
  .row.mt-5 {
    margin: 5rem; /* Further adjusted margin for even smaller screens */
  }
}
