.main-wrapper {
  background-image: url(../../../src/assets/img/wallpaperflare.com_wallpaper.jpg);
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  app-facts,
  app-aside {
    width: calc(50% - 20px); 
    margin: 10px;
  }
}