.navbar{
  display: flex;
}
.navbar-brand {
  color: gold;
}
.nav-link.active {
  color: gold;
}
.nav-link {
  color: gold;
}
.form-control {
  color: gold;
}

.btn-outline-success {
  --bs-btn-color: gold;
  --bs-btn-border-color: gold;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: gold;
}


.audio-player{
  margin-right:25rem
}

