<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="btn btn-outline-success" href="/home">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/map">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts">Contacts</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="btn btn-outline-success" href="/signup">Sign up</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="btn btn-outline-success" href="/login">Login</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLoggedIn">
          <a
            class="btn btn-outline-success"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Account
          </a>
          <ul class="dropdown-menu dropdown-menu-center">
            <li>
              <span class="dropdown-item-text">{{ userEmail }}</span>
            </li>
            <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <button class="btn btn-outline-success" (click)="signout()">
                Logout
              </button>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            LOTRWiki
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/books">Books </a></li>
            <li><a class="dropdown-item" href="/films">Films </a></li>
            <li><a class="dropdown-item" href="/characters">Characters</a></li>
          </ul>
        </li>
        <li class="nav-item"></li>
      </ul>
      <form class="d-flex" (ngSubmit)="search()">
        <input
          [(ngModel)]="searchQuery"
          name="searchQuery"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />

        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
