<app-navbar></app-navbar>
<div class="wrapper">
  <div class="card" style="width: 25rem">
    <div class="card-body">
      <h2 class="card-title">Contacts</h2>
      <p class="card-text">
        Email:
        <a href="mailto:stefdimitrov94bg@gmail.com"
          >stefdimitrov94bg@gmail.com</a
        >
      </p>
      <p class="card-text">
        GitHub:
        <a href="https://github.com/StefanDimitrow" target="_blank"
          >StefanDimitrow</a
        >
      </p>
      <p class="card-text">
        LinkedIn:
        <a
          href="https://www.linkedin.com/in/stefan-dimitrov-713aa9275"
          target="_blank"
          >Stefan Dimitrov</a
        >
      </p>
      <p class="card-text">
        SoftUni: <a href="https://softuni.bg" target="_blank">SoftUni</a>
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
