.map-wrapper {
  background-color: rgba(167, 163, 163, 0.986);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  padding: 5rem;
  margin: 1rem;
  font-size: 4rem;
  text-align: center;
  text-decoration: underline;
  font-style: oblique;
}
.article{
    padding: 5rem;
    margin: 1rem;
    font-size: 3rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}
