<app-navbar></app-navbar>
<div class="map-wrapper">
  <h1>Hello and wellcome to my first <br>Angular Project!</h1>
  <article class="article">
    This is my first Angular project and its called LOTRWiki
    <section class="section">
      As the name shows, this project is all about the LOTR universe.It provides
      info about the books,films,characters and many other stuff! <br />
      If you enjoy my project,please leave a like below!
    </section>
   <app-like-btn></app-like-btn>
  </article>
  
